/* container.css — centers content and keeps lines readable. */

#output-container {
	max-width: 100vw;
	min-height: 250px;
	background-color: #B16B09;
	padding: 10px;
	border: dashed;
	border-radius: 15px;
}
